<h1>Bonjour, veuillez comfirmer votre email§</h1>

<p>
    Veuillez comfirmer votre email en cliquant sur le lien ci dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
